doctype html 
html
    head 
        title About
        style
            include ../static/style.css 
    body 
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/about") About ]
                li #[a(href="/services") Services]
                li #[a(href="/contact") Contact Us ]
    section#aboutSection 
        div Dancing is surely the most basic of relevant of all forms of expression.
        div.small We are the dancers
    section#aboutSponsor
        div We Dance to Live
        div.small Feel Free to dance
    footer#footer
        | Contact Us: - 9304725862
    script 
            include ../static/index.js
    script(src="script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')") 
       