doctype html 
html
    head 
        title Home
        style
            include ../static/style.css 
    body 
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/about") About ]
                li #[a(href="/services") Services]
                li #[a(href="/contact") Contact Us ]
    section#introSection 
        div Welcome to Varun Dance Academy 
        div.small Eat , Dance , Sleep , Repeat
    section#sponsorSection 
        div It takes an athlete to dance, but an artist to be a dancer.
        div.small Feel Free to dance
    footer#footer
        | Contact Us: - 9304725862
    script 
            include ../static/index.js
    script(src="script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')") 
       