doctype html 
html
    head 
        title Services
        style
            include ../static/style.css 
    body 
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/about") About ]
                li #[a(href="/services") Services]
                li #[a(href="/contact") Contact Us ]
    section#serviceSection 
        div Varun Dance Academy 
        div.small HipHop, Classic ,Ballet,Ballroom,Contemporary 
    section#serviceSponsor 
        div Feel Free To Contact Us
        div.small We are always their for you
    footer#footer
        | Contact Us: - 9304725862
    script 
            include ../static/index.js
    script(src="script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')") 
       