doctype html 
html
    head 
        title Services
        style
            include ../static/style.css 
    body 
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/about") About ]
                li #[a(href="/services") Services]
                li #[a(href="/contact") Contact Us ]
    section#introSection 
        h1= name
        div Your form is submiited 
        div.small We will contact you soon. Keep Dancing !
    
    script(src="script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')") 
       